<!-- Header menu navegacion-->
<div class="rectangle">
    <div class="container">
        <div class="header mt-5">
            <h1 class="title-page">Formulario negocios parte 3</h1>
            <div class="menu">
                <a class="link-menu" [routerLink]="['/']">
                    <img class="img-menu" src="./assets/icons/home.png" alt="img-menu">
                    <span class="text-span"> Inicio /</span>
                </a>
                <a class="link-menu" [routerLink]="['/registro']">
                    <span class="text-span"> Registro</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- fin Header menu navegacion-->

<div class="container mt-5">

    <div class="row mt-3">
        <div class="form-group col-md-6">
            <label class="label-form">Estas a pocos pasos de ser parte de nuestro ecosistema</label>
            <label class="label-form">Progreso general</label>

        </div>
        <div class="logos m-5">
            <img src="./assets/img/97porciento.png" class="img-fluid" alt="Responsive image">
        </div>

    </div>
    <div class="col-12 title-form">
        <h1>Información organizacional general</h1>
    </div>
    <div class="row mt-5">
        <div class="col-8 col-md-12">

            <form [formGroup]="myForm" autocomplete="off">


                <div class="row mt-3">
                    <div class="form-group col-md-4">
                        <label class="label-form">Sector productivo </label>
                        <div class="form-control">
                            <select class="custom-select form-select" formControlName="sectorProductivo">
                                <option>
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="label-form">Intereses </label>
                        <div class="form-control">
                            <select class="custom-select form-select" formControlName="intereses">
                                <option value="Conectar con incubadoras">Conectar con incubadoras</option>
                                <option value="Encontrar Aceleradora">Encontrar Aceleradora</option>
                                <option value="Generar networking">Generar networking</option>
                                <option value="Encontrar inversionista">Encontrar inversionista</option>
                                <option value="Promocionar productos/ servicios">Promocionar productos/ servicios
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="label-form">Número de colaboradores </label>
                        <input type="text" class="form-control" formControlName="numeroColaboradores">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group">
                        <label>Breve descripción del emprendimiento</label>
                        <textarea class="form-control" formControlName="descripcionEmprendimiento" rows="3"></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group">
                        <label>Público objetivo (clientes y usuarios)</label>
                        <textarea class="form-control" formControlName="publicoEmprendimiento" rows="3"></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group">
                        <label>Propuesta de valor</label>
                        <textarea class="form-control" formControlName="dpropuestaEmprendimiento" rows="3"></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group">
                        <label>Problema a solucionar, necesidad, oportunidad o frustación</label>
                        <textarea class="form-control" formControlName="problemaEmprendimiento" rows="3"></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button type="submit" class="btn btn-azul mt-4" [disabled]="myForm.invalid">Guardar</button>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-azul mt-4" [disabled]="myForm.invalid">Guardar y
                            Continuar</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-4 col-md-12">
            <div style="background-color: black; width: 100%;"></div>
        </div>
    </div>

</div>