<div class="rectangle">
    <div class="container">
        <h1 class="title-page">Registro de nuevo usuario</h1>
    </div>

</div>
<div class="container mt-5">
    <div class="col-12 title-form">
        <h1>Registro de nuevo usuario ecosistema Bogotá E</h1>
    </div>
    <div class="row mt-5">
        <div class="col-3 col-md-2"></div>
        <div class="col-6 col-md-8">

            <form>
                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Tipo de documento de identidad</label>
                        <div class="form-control">
                            <select class="custom-select form-select" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">CC</option>
                                <option value="2">TI</option>
                                <option value="3">CE</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Número de documento de identidad</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Primer apellido</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Segundo apellido</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col-md-12">
                        <label class="label-form">Dirección de residencia</label>
                    </div>
                    <div class="form-group col-md-12">
                        Ej:
                    </div>
                    
                    <div class="form-group col">
                        <label class="label-form">DG.</label>
                        <div class="form-control">
                            <select class="custom-select form-select" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="label-form">84*</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col">
                        <label class="label-form">B</label>
                        <div class="form-control">
                            <select class="custom-select form-select" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="label-form">Bis</label>
                        <div class="form-control">
                            <select class="custom-select form-select" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="label-form">A</label>
                        <div class="form-control">
                            <select class="custom-select form-select" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label class="label-form">Sur</label>
                        <div class="form-control">
                            <select class="custom-select form-select" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    #
                    <div class="form-group col">
                        <label class="label-form">51</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-4">
                        <label class="label-form">B</label>
                        <div class="form-control">
                            <select class="custom-select form-select" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="label-form">62</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="label-form">Este</label>
                        <div class="form-control">
                            <select class="custom-select form-select" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Correo electrónico</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Confirmar Correo electrónico</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Fecha de nacimiento</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Número de contacto</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Contraseña</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Confirmar contraseña</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-azul mt-4">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-3 col-md-2"></div>
    </div>

</div>