.m-footer{
    text-align: left;
    width: 244;
    height: 99;
}

.color-footer{
   background-color: #29ABE2;
}

.t-footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: left;
}

.p-footer{
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
}