<footer class="page-footer font-small stylish-color-dark pt-4 color-footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 m-footer">
                <img src="./assets/img/logoFooter.png" alt="Logo">
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2">

                <!-- Links -->
                <h5 class="t-footer  mt-3 mb-4">Enlaces de interes</h5>

                <ul class="list-unstyled p-footer">

                    <li>
                        <a href="#!" class="p-footer">¿Quienes somos?</a>
                    </li>
                    <li>
                        <a href="#!" class="p-footer">Programas</a>
                    </li>
                    <li>
                        <a href="#!" class="p-footer">Red</a>
                    </li>
                    <li>
                        <a href="#!" class="p-footer">Eventos</a>
                    </li>
                    <li>
                        <a href="#!" class="p-footer">Noticias</a>
                    </li>
                    <li>
                        <a href="#!" class="p-footer">Innovacion abierta</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2">

                <!-- Links -->
                <h5 class="t-footer mt-3 mb-4">Inscribete en la plataforma</h5>

                <ul class="list-unstyled p-footer">
                    <li>
                        <a href="#!" class="p-footer">Requisitos</a>
                    </li>
                    <li>
                        <a href="#!" class="p-footer">Politica de privacidad</a>
                    </li>
                    <li>
                        <a href="#!" class="p-footer">Aviso legal</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2">

                <!-- Links -->
                <h5 class="t-footer mt-3 mb-4">Siguenos</h5>

                <ul class="list-unstyled p-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img class="p-footer" src="./assets/img/facebook.png" alt="Logo" width="30" height="24">
                        </li>
                        <li class="list-inline-item">
                            <img class="p-footer" src="./assets/img/linkedin.png" alt="Logo" width="30" height="24">
                        </li>
                        <li class="list-inline-item">
                            <img class="p-footer" src="./assets/img/Instagram.png" alt="Logo" width="30" height="24">
                        </li>
                      </ul>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

</footer>
<!-- Footer -->