<div class="container mt-5">
    <div class="container">
        <div class="row pr-tittle">
            <h1>Programas</h1>
        </div>
    </div>
    <div class="row">

        <div class="c-size">
            <img class="c-img-top" src="./assets/img/prog1.png" alt="Card image cap">
            <div class="card-body">
                <div class="c-tittle">
                    <img class="c-img-title" src="./assets/img/Logo.png" alt="Card image cap">
                </div>
                <h3 class="c-text mt-4">Empresas
                    potencialmente de
                    alto impacto</h3>
                <div class="c-btn mt-2">
                    <button type="button" class="btn btn-azul">Ingresar</button>
                </div>  
            </div>
        </div>

        <div class="c-size">
            <img class="c-img-top" src="./assets/img/prog2.png" alt="Card image cap">
            <div class="card-body">
                <div class="c-tittle">
                    <img class="c-img-title" src="./assets/img/Logo.png" alt="Card image cap">
                </div>
                <h3 class="c-text mt-4">Ruta Bogotá e</h3>
                <div class="c-btn mt-2">
                    <button type="button" class="btn btn-azul">Ingresar</button>
                </div>  
            </div>
        </div>

        <div class="c-size">
            <img class="c-img-top" src="./assets/img/prog3.png" alt="Card image cap">
            <div class="card-body">
                <div class="c-tittle">
                    <img class="c-img-title" src="./assets/img/Logo.png" alt="Card image cap">
                </div>
                <div class="c-text mt-4">
                    <h3>Emprendedores en tutorías para iniciar su negocio</h3>
                </div>
                <div class="c-btn mt-2">
                    <button type="button" class="btn btn-azul">Ingresar</button>
                </div>  
            </div>
        </div>
    </div>
</div>