<!-- Header menu navegacion-->
<div class="rectangle">
    <div class="container">
        <div class="header mt-5">
            <h1 class="title-page">Usuario Creado con exito</h1>
            <div class="menu">
                <a class="link-menu" [routerLink]="['/']">
                    <img class="img-menu" src="./assets/icons/home.png" alt="img-menu">
                    <span class="text-span"> Inicio /</span>
                </a>
                <a class="link-menu" [routerLink]="['/login']">
                    <span class="text-span"> Login/red/Directorio emprenndedor</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- fin Header menu navegacion-->

<div class="container mt-5">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-2">
               
            </div>
            <div class="col-8">
                <a [routerLink]="['/login']">
                    <button type="button"  class="btn-confirmacion">Usuario Creado con exito</button>
                </a>
                
                <h4 class="mt-3 h4-purple">Por favor revisa tu correo para terminar de activar tu cuenta</h4>  
                <p class="mt-3 p-gray ">Hemos enviado un enlace de activacion al correo registrado y asi podras activar tu cuenta en el ecosistema Bogotá E.</p>
            </div>
            <div class="col-2">
               
            </div>
        </div>


    </div>