<div class="col-12 img-page">
    <div class="card-img">
        <div class="c-1">
            <h2>Sé parte de la próxima generación</h2>
        </div>
        <div class="c-2">
            <h2>de unicornios</h2>
        </div>
        <button type="button" class="btn btn-fucsia mt-3">¡Inscríbete ahora!</button>
    </div>
</div>
<!--<img src="./assets/img/one-person.png" class="img-fluid img-page" alt="Responsive image">-->
<!--<img src="./assets/img/one-person.png" alt="Logo">-->

<div class="col-12 line">
    <div class="spacing"></div>
    <h3>
        No importa si eres un emprendedor, inversionista, aceleradora o incubadora.
        <br>Te ayudamos a alcanzar tus sueños.
    </h3>

</div>
<div class="container mt-5">

    <div class="row">
        <div class="col">
            <div class="c-zise">
                <div class="opacity">
                    <div class="card c-emprendedores">
                        <div class="card-body">
                            <h1 class="c-text">Para emprendedores</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 m-t-1 c-bajo">
                    <h3>
                        400
                    </h3>
                    <hr class="c-hr">
                    <p>Emprendedores</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="c-zise">
                <div class="opacity">
                    <div class="card c-inversionistas">
                        <div class="card-body ">
                            <h1 class="c-text">Para inversionistas</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 m-t-1 c-bajo">
                    <h3>
                        80
                    </h3>
                    <hr class="c-hr">
                    <p>inversionistas</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="c-zise">
                <div class="opacity">
                    <div class="card c-aceleradores">
                        <div class="card-body">
                            <h1 class="c-text">Para aceleradores</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 m-t-1 c-bajo">
                    <h3>
                        60
                    </h3>
                    <hr class="c-hr">
                    <p class="mt-1">Incubadoras y aceleradoras</p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 mt-5">
        <div class="row">
            <div class="col-md-6 mt-3">
                <h1 class="h-azul">¿Qué es el ecosistema </h1>
                
                <h1 class="h-fuc">Bogotá e? </h1>
            </div>
            <div class="col-md-6">
                <p class="p-text">
                    Es un Ecosistema de Emprendimiento para empresas emergentes que unifica los esfuerzos para apoyarlos
                    en sus diversas iniciativas y programas. Con <span class="c-text-bold"> Bogotá e</span>, las empresas emergentes y los socios del
                    ecosistema pueden descubrir y acceder fácilmente a las vías de soporte disponibles.
                </p>

                <button type="button" class="btn btn-fucsia">¡Inscríbete ahora!</button>
            </div>
        </div>
    </div>
</div>