<div class="col-12 img-page">
    <img src="./assets/img/one-person.png" class="img-fluid" alt="Responsive image">
    <!--<img src="./assets/img/one-person.png" alt="Logo">-->
</div>

<div class="line col-12">
    <p class="p-line">
        No importa si eres un emprendedor, inversionista, aceleradora o incubadora.
        <br> Te ayudamos a alcanzar tus sueños.
    </p>
</div>
<div class="col-12 seccion3">
    <div class="row">

        <div class="col-md-4">
            <div class="emprendedores d-inline p-2">
                <div class="card c-emprendedores">
                    <div class="card-body">
                        <h1 class="c-text">Para emprendedores</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="inversionistas d-inline p-2">
                <div class="card c-inversionistas">
                    <div class="card-body ">
                        <h1 class="c-text">Para inversionistas</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="aceleradores d-inline p-2">
                <div class="card c-aceleradores">
                    <div class="card-body">
                        <h1 class="c-text">Para aceleradores</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>