@font-face {
    font-family: GothamRounded;
    src: url('../../../assets/fonts/GothamRounded.ttf') format('truetype');
}
body{
    font-family: GothamRounded;
}

.img-page{
    background: linear-gradient(0deg, rgba(41, 171, 226, 0.3318) 1.66%, rgba(41, 171, 226, 0) 75.26%);
}

.line{
    background: #ED1E79;
    width: 100%;
    height: 110.51px;
}
.p-line{
    position: absolute;
    width: 100%;
    height: 76.35px;
    font-style: normal;
    font-family: GothamRounded;
    font-weight: 325;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.c-emprendedores{
    background-image: url("../../../assets/img/Rectangle10.png");
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 380px;
    height: 212.93px;
    color: #FFFFFF;
}

.c-inversionistas{
    background-image: url("../../../assets/img/Rectangle13.png");
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 380px;
    height: 212.93px;
    color: #FFFFFF;
}

.c-bajo{
    text-align: center;
    margin-top: 20px;
    color: #21539B;
}
.c-hr{
    background-color: #21539B;
    color: #21539B;
    width: 50%;
    height: 2px;
    margin: auto;
}
.c-aceleradores{
    background-image: url("../../../assets/img/Rectangle16.png");
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 380px;
    height: 212.93px;
    color: #FFFFFF;
}
.c-text{
    font-family: GothamRounded;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.h-azul{
    font-family: GothamRounded;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #29ABC2;
}

.h-fuc {
    font-family: GothamRounded;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 52px;
    color: #ED1E79;;
    text-align: right;
}

.p-text{
    font-family: GothamRounded;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.btn-fucsia{
    font-family: GothamRounded;
    width: 280px;
    height: 42;
    color: white;
    background-color: #ED1E79;
}