<div class="col-12 img-page">
    <img src="./assets/img/faq.png" class="img-fluid img-page" alt="Responsive image">
</div>
<div class="container-fluid line col-12 d-flex">
    <p class="p-line mt-4">
        Hemos creado el vibrante Ecosistema de Emprendimiento para empresas emergentes y unifica los esfuerzos para apoyar el ecosistema, en sus diversas iniciativas y programas. Con Bogotá E,  las empresas emergentes y los socios del ecosistema pueden descubrir y acceder fácilmente a las vías de soporte disponibles.
    </p>
</div>
<div class="container">
    <div class="logos m-5">
        <img src="./assets/img/faqlogos.png" class="img-fluid img-page" alt="Responsive image">
    </div>
</div>