<div class="col-12 opacity">
    <div class="img-page">
        <!--<img src="./assets/img/faq.png" class="img-fluid img-page" alt="Responsive image">-->
    </div>
</div>
<div class="container-fluid line">
    <div class="spacing"></div>
    <h4>
        Hemos creado el vibrante Ecosistema de Emprendimiento para empresas emergentes y unifica los esfuerzos para
        apoyar el ecosistema, en sus diversas iniciativas y programas. Con Bogotá E, las empresas emergentes y los
        socios del ecosistema pueden descubrir y acceder fácilmente a las vías de soporte disponibles.
    </h4>
</div>
<div class="container">
    <div class="logos m-5">
        <img src="./assets/img/faqlogos.png" class="img-fluid" alt="Responsive image">
    </div>
</div>