<!-- Header menu navegacion-->
<div class="rectangle">
    <div class="container">
        <div class="header mt-5">
            <h1 class="title-page">Iniciar sesión</h1>
            <div class="menu">
                <a class="link-menu" [routerLink]="['/']">
                    <img class="img-menu" src="./assets/icons/home.png" alt="img-menu">
                    <span class="text-span"> Inicio /</span>
                </a>
                <a class="link-menu" [routerLink]="['/login']">
                    <span class="text-span"> Login</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- fin Header menu navegacion-->

<div class="container mt-5">
    <div class="col-12 title-form">
        <h1>Iniciar sesíon</h1>
    </div>
    <div class="row">
        <div class="col-3 col-md-2"></div>
        <div class="col-6 col-md-8">
            <form [formGroup]="myForm" autocomplete="off">
                <div class="row mt-3">

                    <div class="col">
                        <label class="label-form">Numero de documento</label>
                        <input type="text" class="form-control" formControlName="usuaUsuario">
                    </div>
                    <div class="col">
                        <label class="label-form">Contraseña</label>
                        <input type="text" class="form-control" formControlName="usuaContrasenia">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-azul mt-3" [disabled]="myForm.invalid"
                            (click)="login(content)">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-3 col-md-2"></div>
    </div>
    <div class="row mt-4">
        <div class="col-3"></div>
        <div class="col-6 mr-2">
            <div class="row">
                <div class="col center-col">
                    <a class="fucsia-text" [routerLink]="['/**']"><button type="button" class="btn btn-fucsia-btn">
                            Recuperar contraseña</button></a>
                    <div class="vr"></div>
                    <a class="azul-text" [routerLink]="['/**']"><button type="button" class="btn btn-azul-btn">Crear una
                            nueva cuenta</button></a>
                </div>

            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>


<ng-template #content>
    <app-modal-spinner class="m-auto"></app-modal-spinner>
</ng-template>
<!--prueba modal espera-->
<!--<button class="btn btn-lg btn-outline-primary" (click)="openModal(content)">Launch demo modal</button>-->
