@font-face {
    font-family: GothamRounded;
    src: url('../../../assets/fonts/GothamRounded.ttf') format('truetype');
}

.container{
    font-family: GothamRounded;
}

/* CSS header menu navegacion*/
.rectangle{
    background-color: #ED1E79;
    width: 100%;
    height: 220px;
}

.header{
    width: 100%;
    position: absolute;
}

.title-page{
    font-family: GothamRounded;
    font-style: normal;
    font-weight: 325;
    line-height: 66px;
    color: #FFFFFF;
}

.menu{
    margin: auto;
    color: #FFFFFF;
}
.link-menu{
    text-decoration: none;
}
.img-menu{
    margin-top: -5px;
    width:20;
    height:20;
}
.text-span{
    font-family: GothamRounded;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    color: #FFFFFF;
}
/* FIN CSS header menu navegacion*/

.c-zise{
    width: 380px;
    height: 430px;
}
.c-top{
    width: 100%;
    height: 90px;
    /* Azul tenue */
    background: #CDF0FF;
    border-radius: 12px 12px 0px 0px;
}

.c-under{
    width: 100%;
    height: 340px;
    background: #FFFFFF;

    /* Azul tenue */
    border: 1px solid #CDF0FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}