<!-- Header menu navegacion-->
<div class="rectangle">
    <div class="container">
        <div class="header mt-5">
            <h1 class="title-page">Registro de nuevo usuario</h1>
            <div class="menu">
                <a class="link-menu" [routerLink]="['/']">
                    <img class="img-menu" src="./assets/icons/home.png" alt="img-menu">
                    <span class="text-span"> Inicio /</span>
                </a>
                <a class="link-menu" [routerLink]="['/registro']">
                    <span class="text-span"> Registro</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- fin Header menu navegacion-->

<div class="container mt-5">

    <div class="col">
        <div class="c-zise">
            <div class="c-top">

            </div>
            <div class="c-under">
                
            </div>

        </div>
    </div>

</div>