<!-- Header menu navegacion-->
<div class="rectangle">
    <div class="container">
        <div class="header mt-5">
            <h1 class="title-page">Formulario actores o entidades finalizado</h1>
            <div class="menu">
                <a class="link-menu" [routerLink]="['/']">
                    <img class="img-menu" src="./assets/icons/home.png" alt="img-menu">
                    <span class="text-span"> Inicio /</span>
                </a>
                <a class="link-menu" [routerLink]="['/registro']">
                    <span class="text-span"> Directorio Emprendedores</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- fin Header menu navegacion-->

<div class="container mt-5">

    <div class="col-12 col-md-12 mt-5">
        <h1 class="h-azul">Felicitaciones</h1>
        <h1 class="h-fucsia">¡Has terminado el formulario exitosamente!</h1>
        <div class="row mt-3">
            <div class="col-6">
                <button type="button" class="btn btn-fucsia">Regresar a tu perfil</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-azul">Explorar directorio</button>
            </div>
        </div>
    </div>
</div>