<!-- Header menu navegacion-->
<div class="rectangle">
    <div class="container">
        <div class="header mt-5">
            <h1 class="title-page">Formulario negocios parte 2</h1>
            <div class="menu">
                <a class="link-menu" [routerLink]="['/']">
                    <img class="img-menu" src="./assets/icons/home.png" alt="img-menu">
                    <span class="text-span"> Inicio /</span>
                </a>
                <a class="link-menu" [routerLink]="['/registro']">
                    <span class="text-span"> Registro</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- fin Header menu navegacion-->

<div class="container mt-5">

    <div class="row mt-3">
        <div class="form-group col-md-6">
            <label class="label-form">Estas a pocos pasos de ser parte de nuestro ecosistema</label>
            <label class="label-form">Progreso general</label>
            
        </div>
        <div class="logos m-5">
            <img src="./assets/img/70porciento.png" class="img-fluid" alt="Responsive image">
        </div>
       
    </div>



    <div class="col-12 title-form">
        <h1>Información de cofundadores</h1>
    </div>
    <div class="row mt-5">
        <div class="col-8 col-md-12">

            <form [formGroup]="myForm" autocomplete="off">
                <div class="row mt-3">
                    
                    <div class="form-group col-md-6 col-sm-6 col-">
                        <label class="label-form">Número de co fundadores</label>
                        <input type="text" class="form-control" formControlName="numeroCofundadoresEmprendimiento">             
                       
                        
                    </div>
                </div>
                Co fundador 1

                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Primer Nombre </label>
                        <input type="text" class="form-control" formControlName="primerNombreCofundador">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Segundo nombre</label>
                        <input type="text" class="form-control" formControlName="segundoNombreCofundador">
                    </div>
                   
                </div>
                
                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Primer apellido </label>
                        <input type="text" class="form-control" formControlName="primerApellidoCofundador">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Segundo apellido</label>
                        <input type="text" class="form-control" formControlName="segundoApellidoCofundador">
                    </div>
                   
                </div>

                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Número telefonico de contacto </label>
                        <input type="text" class="form-control" formControlName="numeroTelefonicoCofundador">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Correo de contacto</label>
                        <input type="text" class="form-control" formControlName="correoCofundador">
                    </div>
                   
                </div>
                Representante legal

                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Primer Nombre </label>
                        <input type="text" class="form-control" formControlName="primerNombreRepresentante">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Segundo nombre</label>
                        <input type="text" class="form-control" formControlName="segundoNombreRepresentante">
                    </div>
                   
                </div>
                
                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="label-form">Primer apellido </label>
                        <input type="text" class="form-control" formControlName="primerApellidoRepresentante">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-form">Segundo apellido</label>
                        <input type="text" class="form-control" formControlName="segundoApellidoRepresentante">
                    </div>
                   
                </div>
                
                                

                <div class="row mt-3">
                    <div class="col">
                        <button type="submit" class="btn btn-azul mt-4" [disabled]="myForm.invalid"
                           >Guardar</button>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-azul mt-4" [disabled]="myForm.invalid"
                           >Guardar y Continuar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-4 col-md-12">
            <div style="background-color: black; width: 100%;"></div>
        </div>
    </div>

</div>