<!-- Header menu navegacion-->
<div class="rectangle">
    <div class="container">
        <div class="header mt-5">
            <h1 class="title-page">Formulario negocios parte 1</h1>
            <div class="menu">
                <a class="link-menu" [routerLink]="['/']">
                    <img class="img-menu" src="./assets/icons/home.png" alt="img-menu">
                    <span class="text-span"> Inicio /</span>
                </a>
                <a class="link-menu" [routerLink]="['/registro']">
                    <span class="text-span"> Directorio Emprendedores</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- fin Header menu navegacion-->

<div class="container mt-5">
    <div class="row mt-3">
        <div class="form-group col-md-6">
            <label class="label-form">Estas a pocos pasos de ser parte de nuestro ecosistema</label>
            <label class="label-form">Progreso general</label>
        </div>
        <div class="logos m-5">
            <img src="./assets/img/35porciento.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>

    <div class="col-12 title-form">
        <h1>Información Basica de tu negocio</h1>
    </div>

    <div class="mt-5">
        <form [formGroup]="myForm" autocomplete="off">
            <div class="row">
                <div class="col-8 col-md-8">

                    <div class="row mt-3">
                        <div class="form-group col-md-12">
                            <div>
                                <label class="label-form">¿El negocio que esta registrando esta legalmente constituido? *</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="emplendimientoConstituido"
                                        id="flexRadioDefault1" formControlName="emplendimientoConstituido">
                                    <label class="form-check-label" for="flexRadioDefault1" value="Si">
                                        Si
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="emplendimientoConstituido"
                                        id="flexRadioDefault2" formControlName="emplendimientoConstituido" checked>
                                    <label class="form-check-label" for="flexRadioDefault2" value="No">
                                        No
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="form-group col-md-7">
                            <label class="label-form">Nombre de la empresa o emprendimiento </label>
                            <input type="text" class="form-control" formControlName="nombreEmprendimiento">
                        </div>
                        <div class="form-group col-md-2">
                            <label class="label-form">CC o NIT</label>
                            <input type="text" class="form-control" formControlName="nitEmprendimiento">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="label-form">Feche de creación</label>
                            <input type="date" class="form-control" formControlName="fechaCreacionEmprendimiento">
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="form-group col-12">
                            <label class="label-form">Direccion de correspondencia *</label>
                        </div>
                        <div class="form-group col-12">
                            Ej:
                        </div>

                        <div class="form-group col">
                            <label class="label-form">DG.</label>
                            <div class="form-control">
                                <select class="custom-select form-select" formControlName="c1">
                                    <option value="Avenida Calle"> Avenida Calle</option>
                                    <option value="Avenida Carrera"> Avenida Carrera</option>
                                    <option value="Calle"> Calle</option>
                                    <option value="Carrera"> Carrera</option>
                                    <option value="Diagonal"> Diagonal</option>
                                    <option value="Trasversal "> Trasversal </option>
                                </select>
                                <!-- Validaciones de formulario -->
                                <div *ngIf="myForm.get('c1').hasError('required') && myForm.get('c1').touched"
                                    style="margin-top: -20px;">
                                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                                </div>
                                <!-- FIn validaciones de formulario-->

                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="label-form">84*</label>
                            <input type="text" class="form-control" formControlName="c2">
                            <!-- Validaciones de formulario -->
                            <div *ngIf="myForm.get('c2').hasError('required') && myForm.get('c2').touched"
                                style="margin-top: -20px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                            <!-- FIn validaciones de formulario-->
                        </div>
                        <div class="form-group col">
                            <label class="label-form">B</label>
                            <div class="form-control">
                                <select class="custom-select form-select" formControlName="c3">
                                    <option selected></option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                    <option value="G">G</option>
                                    <option value="H">H</option>
                                    <option value="I">I</option>
                                    <option value="J">J</option>
                                    <option value="K">K</option>
                                    <option value="L">L</option>
                                    <option value="M">M</option>
                                    <option value="N">N</option>
                                    <option value="O">O</option>
                                    <option value="P">P</option>
                                    <option value="Q">Q</option>
                                    <option value="R">R</option>
                                    <option value="S">S</option>
                                    <option value="T">T</option>
                                    <option value="U">U</option>
                                    <option value="V">V</option>
                                    <option value="W">W</option>
                                    <option value="X">X</option>
                                    <option value="Y">Y</option>
                                    <option value="Z">Z</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="label-form">Bis</label>
                            <div class="form-control">
                                <select class="custom-select form-select" formControlName="c4">
                                    <option selected></option>
                                    <option value="BIS">BIS</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="label-form">A</label>
                            <div class="form-control">
                                <select class="custom-select form-select" formControlName="c5">
                                    <option selected></option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                    <option value="G">G</option>
                                    <option value="H">H</option>
                                    <option value="I">I</option>
                                    <option value="J">J</option>
                                    <option value="K">K</option>
                                    <option value="L">L</option>
                                    <option value="M">M</option>
                                    <option value="N">N</option>
                                    <option value="O">O</option>
                                    <option value="P">P</option>
                                    <option value="Q">Q</option>
                                    <option value="R">R</option>
                                    <option value="S">S</option>
                                    <option value="T">T</option>
                                    <option value="U">U</option>
                                    <option value="V">V</option>
                                    <option value="W">W</option>
                                    <option value="X">X</option>
                                    <option value="Y">Y</option>
                                    <option value="Z">Z</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="label-form">Sur</label>
                            <div class="form-control">
                                <select class="custom-select form-select" formControlName="c6">
                                    <option selected></option>
                                    <option value="SUR">SUR</option>
                                    <option value="ESTE">ESTE</option>
                                </select>
                            </div>
                        </div>
                        #
                        <div class="form-group col">
                            <label class="label-form">51</label>
                            <input type="text" class="form-control" formControlName="c7">
                            <!-- Validaciones de formulario -->
                            <div *ngIf="myForm.get('c7').hasError('required') && myForm.get('c7').touched"
                                style="margin-top: -20px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                            <!-- FIn validaciones de formulario-->
                        </div>

                        <div class="form-group col">
                            <label class="label-form">B</label>
                            <div class="form-control">
                                <select class="custom-select form-select" formControlName="c8">
                                    <option selected></option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                    <option value="G">G</option>
                                    <option value="H">H</option>
                                    <option value="I">I</option>
                                    <option value="J">J</option>
                                    <option value="K">K</option>
                                    <option value="L">L</option>
                                    <option value="M">M</option>
                                    <option value="N">N</option>
                                    <option value="O">O</option>
                                    <option value="P">P</option>
                                    <option value="Q">Q</option>
                                    <option value="R">R</option>
                                    <option value="S">S</option>
                                    <option value="T">T</option>
                                    <option value="U">U</option>
                                    <option value="V">V</option>
                                    <option value="W">W</option>
                                    <option value="X">X</option>
                                    <option value="Y">Y</option>
                                    <option value="Z">Z</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="label-form">- 62</label>
                            <input type="text" class="form-control" formControlName="c9">
                        </div>
                        <div class="form-group col">
                            <label class="label-form">Este</label>
                            <div class="form-control">
                                <select class="custom-select form-select" formControlName="c10">
                                    <option selected></option>
                                    <option value="SUR">SUR</option>
                                    <option value="ESTE">ESTE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="form-group col-md-4">
                            <label class="label-form">Localidad *</label>
                            <div class="form-control">
                                <select class="custom-select form-select" formControlName="localidadEmprendimiento">
                                    <option *ngFor="let item of localidades" [value]="item.locaId"> {{item.locaNombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="label-form">Correo electrónico</label>
                            <input type="text" class="form-control" formControlName="correoElectronicoEmprendimiento">

                            <div *ngIf="myForm.get('correoElectronicoEmprendimiento').hasError('required') && myForm.get('correoElectronicoEmprendimiento').touched"
                                style="margin-top: -20px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                            <div *ngIf="myForm.get('correoElectronicoEmprendimiento').hasError('email') && myForm.get('correoElectronicoEmprendimiento').touched"
                                style="margin-top: -20px;">
                                <span class="mda-form-msg">Correo <strong>no valido</strong></span>
                            </div>
                        </div>


                        <div class="form-group col-md-4">
                            <label class="label-form">Confirmar Correo electrónico</label>
                            <input type="text" class="form-control" formControlName="confirmacionCorreoEmprendimiento">
                            <!-- Validaciones de formulario -->
                            <div *ngIf="myForm.get('confirmacionCorreoEmprendimiento').hasError('required') && myForm.get('confirmacionCorreoEmprendimiento').touched"
                                style="margin-top: -20px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                            <div *ngIf="myForm.get('confirmacionCorreoEmprendimiento').hasError('email') && myForm.get('confirmacionCorreoEmprendimiento').touched"
                                style="margin-top: -20px;">
                                <span class="mda-form-msg">Correo <strong>no valido</strong></span>
                            </div>
                            <!-- FIn validaciones de formulario-->
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="form-group col-md-4">
                            <label class="label-form">Sitio web</label>
                            <input type="text" class="form-control" formControlName="sitioWebEmprendimiento">

                        </div>

                        <div class="form-group col-md-4">
                            <label class="label-form">Número telefonico *</label>
                            <input type="text" class="form-control" formControlName="numeroTelefonicoEmprendimiento">

                        </div>

                        <div class="form-group col-md-4">
                            <label class="label-form">Número telefonico alterno</label>
                            <input type="text" class="form-control"
                                formControlName="numeroTelefonicoAlternativoEmprendimiento">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <!--[disabled]="myForm.invalid"-->
                            <button type="submit" class="btn btn-azul mt-4" (click)="guardar()" >Guardar y
                                Continuar</button>
                        </div>
                    </div>

                </div>

                <div class="col-4 col-md-4">
                    <div class="container cont-perfil">
                        <div class="img-profile">
                            <img src="" alt="">
                        </div>

                        <div class="file mt-2">
                            <input type="file" name="" id="">
                        </div>

                        <div class="progres mt-4">
                            <h5>Has completado el </h5>
                            <div>
                                <img src="./assets/img/35porciento.png" class="img-fluid" alt="Responsive image">
                            </div>
                            <h5 class="mt-2">De tu perfil</h5>
                        </div>
                        <hr>
                        <div class="footer">
                            <h6 class="ayuda"> ¿Necesitas ayuda?</h6>
                            <h6 class="ayuda">Visita nuestro <span class="azul"> centro de ayuda </span> o escribenos un
                                correo a <span class="rosa">info@bogotae.gov.co</span> </h6>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>